<a href="https://colab.research.google.com/github/tgnanavi1/iris-dataset-prediction/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CLASS 1

In [17]:
print("Gnanavi T")

Gnanavi T

In [7]:
if 20 > 10:
  print("20 is greater than 10")

20 is greater than 10

In [10]:
#creating a variable (is a datacontainer or used to store value)
num1 = 1
print(type(num1))
num2 = 2.555
print(type(num2))
sum = num1 + num2
print(sum)

<class 'int'>
<class 'float'>
3.555

In [16]:
#create a string
name = "Gnanu"
print(type(name))
print("My fav name is "+name) #concatenating (+ or ,) both works in combining 2 strings

<class 'str'>
My fav name is Gnanu

In [19]:
#Boolean
print(10>9)
a = True
print(a)

True
True

#CLASS 2

In [23]:
#collection datatypes in python(d/f no.of datatypes can be stored into 1 single variable):
#LIST-->Used to store multiple datatypes into a single variable , 
#datas will be listed in [] sq brackets, it's changable , it allows duplicate values
mylist1 = [1,2,3,4,5] #homogeneous
mylist = ["Sept batch",2022,True,0.666] #heterogeneous have d/f dataset
print(mylist)
print(mylist1)
print(type(mylist))

['Sept batch', 2022, True, 0.666]
[1, 2, 3, 4, 5]
<class 'list'>

In [25]:
#List are changable , mutable 
mylist = ["Sept batch",2022,True,0.666]
#indexing-->is to print individual element
#Doing +ve indexing
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])

Sept batch
2022
True
0.666

In [26]:
#Dooing -ve indexing
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])

0.666
True
2022
Sept batch

In [27]:
#Updating list using indexing
mylist = ["Sept batch",2022,True,0.666]
mylist[1] = 2021
print(mylist)

['Sept batch', 2021, True, 0.666]

In [28]:
#Appending (adding new data for list on wished index)
mylist.insert(3,"Gnanu")
print(mylist)

['Sept batch', 2021, True, 'Gnanu', 0.666]

In [29]:
a = [1,2,3,4,5]
b = [6,66,3,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 66, 3, 7]

In [32]:
del mylist[2]
print(mylist)
mylist.pop(0) #In pop v can delete index no
print(mylist)

['Sept batch', 2021]
[2021]

In [34]:
 a = [1,2,3,4,5]
a.remove(3) #In remove v can delete values by giving values
print(a)

[1, 2, 4, 5]

In [39]:
#Tuple -> It's immutable and it's shown as like this "{}" 
mytuple = {"HP",2022,23456,False,2022}
print(mytuple)
mytuple[0] = 2021
print(mytuple)

{'HP', False, 23456, 2022}

TypeError: ignored

In [41]:
del mytuple
print(mytuple)

NameError: ignored

In [52]:
#Dictionary -> Basically consists of key and value , mutable
mydic = {
    "Brand":"Dell, " "HP",
    "Color":"Black",
    "yearofmake":2022,
    "Condition":True
         }
print(mydic)
print(type(mydic))

{'Brand': 'Dell, HP', 'Color': 'Black', 'yearofmake': 2022, 'Condition': True}
<class 'dict'>

In [44]:
print(mydic["Condition"]) #only with the help of key v can get the value but not reverse

True

In [58]:
a = {
    "Brand":["Dell","HP"],
    "Color":"Black",
    "yearofmake":2022,
    "Condition":True
         }
print(a)
print(type(a))

{'Brand': ['Dell', 'HP'], 'Color': 'Black', 'yearofmake': 2022, 'Condition': True}
<class 'dict'>

In [59]:
print(a["Brand"][1])

HP

In [60]:
#For updates
a["Condition"] = False
print(a)

{'Brand': ['Dell', 'HP'], 'Color': 'Black', 'yearofmake': 2022, 'Condition': False}

In [62]:
a.append(2,"Date")
print(a)

AttributeError: ignored

#CLASS 3

In [63]:
#Set -> Aunordered collection of datatypes , contain no duplicates , symbole is this "{}"
#we cannot have duplicates
myset = {"Yesterday","Today","Tomorrow",1,2,2,True}
print(myset)

{1, 2, 'Yesterday', 'Tomorrow', 'Today'}

In [79]:
set1 = {"A","B",2}
set2 = {"C","D",2.0}
set4 = {True,2.22,2}
set3 = set2|(set1|set4) #union or symbol"|" which is called pipeline combines datas in set
print(set3)

{True, 2.0, 2.22, 'B', 'A', 'D', 'C'}

In [77]:
#Intersection -> printing of commen elements
set5 = set2&set4&set1
print(set5)

{2}

In [78]:
set3.clear()
print(set3)

set()

In [81]:
#Function -> Excecute a set of code whenever it is called
def GroupA():
  print("Hello all")
  print("Task is cmpltd")
GroupA()

Hello all
Task is cmpltd

In [87]:
def add(num1,num2):
  print("The sum of two numbers are",(num1-num2))
add(5,3)
add(3,5.5)

The sum of two numbers are 2
The sum of two numbers are -2.5

In [86]:
def Data(name):
  print("The given data belongs to",name)
Data("Tom")

The given data belongs to Tom

In [88]:
def a(): #using prompt
  x = input("Enter the name")
  print("Hi",x)
a()

Enter the name Gnanu
Hi  Gnanu